.floydm {
     color:white;
}
 .fcbb {
     color:white;
}
 .curry {
     color:white;
}
 .nfl {
     color:white;
}
 img {
     height: 175px;
}
 img:hover {
     height: 300px;
     transition: height 2s;
}
 ul:hover {
     color:red;
     transition: color 10s;
}
 .dashed {
     border:dashed;
     font-size:3em;
}
 h1 {
     font-family: 'K2D', sans-serif;
     color:red;
}
 body {
     background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4kq0_CqVj9_lI9nj1m-4JO9b96hTIRT79-DI0zUpQrUed-0X0");
     background-color: #cccccc;
     text-align:center;
}
 .bestMovie {
     font-family: 'Mali', cursive;
}
 .bestArtist {
     font-family: 'Poppins', sans-serif;
}
 .bestGame {
     font-family: 'Ubuntu', sans-serif;
}
 .bestClass {
     font-family: 'Oswald', sans-serif;
}
 